.bg-mishmash {
    background-color: #4B0082;
}

.text-mishmash {
    color: #4B0082;
}

.nav-link-white {
    color: #FFFFFF;
}

.hr-2 {
    height: 2px;
}

footer {
    position: fixed;
    bottom: 0;
    border: 0;
    width: 98%;
}

 .ch-fit-b {
    display: inline-block;
    width: 18.5%;
}
.ch-fit-m {
    display: inline-block;
    width: 21.5%;
    padding-right: 1.5%;
    padding-left: 1.5%;
}
