.formation
{
    padding:5px;
    width:260px;
    background:#aaa;
    margin:0
}

.itemsToFill
{
    vertical-align:top;
    width:35%;
    display: inline-block;
    padding-left:2%
}

.itemsToFill p
{
    margin-top:10px;
}

.dataFill
{
width:60%;
display: inline-block;
}

.dataFill form input,.dataFill form select
,.dataFill form button
{
    margin-top:12px;
    box-sizing: border-box;
}