.red-shape,.green-shape,.blue-shape
{
    background: lightgray;
    margin: auto;
    margin-bottom: 0.75%;
    text-align: center;
    width:10%
}
.red-shape
{
    border: 2px solid red;
    border-radius: 5px;
}
.green-shape
{
    border: 2px solid green;
    border-radius: 5px;
}
.blue-shape
{
    border: 2px solid blue;
    border-radius: 5px;
}
#red
{
color:red
}
#blue
{
    color:blue
}
    #green
{
    color:green
    }

 
#b1
{
   
    border: 1px dotted blue;
    border-radius: 10px;
    padding: 10%;
    margin:2%
}
#b2
{
    border: 1px dashed red;
    border-radius: 10px;
    padding: 12%
}
#b3
{
    border: 1px solid green;
    border-radius: 2px;
    padding: 10%;
    font-size: 24px;
    text-align: center
}