  @guestNav@
<div class="row">
    <div class="col-lg-3 col-md-2 col-sm-1"></div>

    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="text-center">
            <h1 class="forest-green">Login</h1>
        </div>

        <div class="green-border-line"></div>
        <br />

        <form action="/Users/LoginData" method="post">
            <div class="form-group" >
                <label>UserName / Email:</label>
                <input type="text" class="form-control" name="usernameOrMail" placeholder="Username (mail)..." required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password..." required>
            </div>
            <center>
                <button type="submit" class="btn btn-success">Login</button>
            </center>
        </form>

    </div>
    <div class="col-lg-4 col-md-3 col-sm-1"></div>
</div>
<br />
<div class="green-border-line"></div>
<footer class="text-center"> <p> <strong>CopyRight</strong> &#9400 <strong>Sanity Design Studios. All rights reserved.</strong></p></footer>