<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .field {
            padding-bottom: 10px
        }
    </style>
    <meta charset="utf-8" />
    <title>IRunes App</title>
</head>
<body>
    <h1>IRunes </h1>
    <h1>Sign In (Log In):</h1>
    <hr />
    <form action="/Users/LoginData" method="post">

        <div class="field">UserName/Email: <input type="text" name="usernameOrMail" placeholder="username(mail)..." /></div>
        <div class="field">Password: <input type="password" name="password" placeholder="password..." /></div>
        <input type="submit" value="Login" />
    </form>
    <hr />
    <p> <strong>CopyRight</strong> &#9400 <strong>Sanity Design Studios. All rights reserved.</strong></p>
</body>
</html>