<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .field{
            padding-bottom:10px
        }
    </style>
    <meta charset="utf-8" />
    <title>IRunes App</title>
</head>
<body>
    <h1>IRunes </h1>
    <h1>Sign In(Register):</h1>
    <hr />
    <form action="/Users/RegisterData" method="post">

        <div class="field">UserName: <input type="text" name="username" placeholder="username..." /></div>
        <div class="field">Password: <input type="password" name="password1" placeholder="password..." /></div>
        <div class="field">Confirm Password: <input type="password" name="password2" placeholder="repeat password..." /></div>
        <div class="field">Email Adress: <input type="email" name="email" placeholder="email..." /></div>
        <input type="submit" value="Register" />
    </form>
    <hr />
    <p> <strong>CopyRight</strong> &#9400 <strong>Sanity Design Studios. All rights reserved.</strong></p>
</body>
</html>