@userNav@
<div class="row">
    <div class="col-lg-3 col-md-2 col-sm-1"></div>

    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="text-center">
            <div style="padding-left:35px" class="jumbotron jumbotron-fluid">
                <h1>IRunes App</h1>
                <h2> Author Name: <strong style="color:darkmagenta">Nikolay Hristov</strong></h2>
            </div>
        </div>

        <h2>Description:</h2>
        <div class="text-primary">
            <p>Това е приложение в което може да се добавят албуми с песни и цени като промяна/премахване може да се извърши само от автора на албумите. </p>
            <p>Разглеждането на албумите може да се осъществи само от логнати потребители.</p>
            <p>Логването на потребителите става посредством сесии като към на всеки клиент се дава SES ID бисквитка която при логване се регистрира в паметта с юзърнейм и ID</p>
            <p>При по нататъшна валидация се допитва до колекцията със сесиите има ли юзър към конкретната бисквитка и логнат ли е той.</p>
            <p>Недостатък на този подход за разлика от криптираната бисквитка е че логването е зависимо от рамта на сървъра при изключване на приложението всички се разлогват</p>
            <p>За графичното оформление е използван Bootstrap 4 като има идея да е responsive</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-1"></div>
</div>

<div class="green-border-line"></div>
<footer class="text-center"> <p> <strong>CopyRight</strong> &#9400 <strong>Sanity Design Studios. All rights reserved.</strong></p></footer>