<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IRunes App</title>
</head>
<body>
    <h1>IRunes</h1>
    <ul>
        <li>
            <a href="/Home">Home</a>
        </li>
        <li>
            <a href="/Albums/All">Albums</a>
        </li>
        <li>
            <a href="/Users/Logout">Logout</a>
        </li>
    </ul>
    <hr />
    <h1>Welcome, @userName@</h1>
    <h2>IRunes wishes you a fun experience.</h2>

    <hr />
    <p> <strong>CopyRight</strong> &#9400 <strong> Sanity Design Studios. All rights reserved.</strong></p>
</body>
</html>