<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/IRunes.Application/Views/CSS/Bootstrap/Bootstrap.4.3.1.css" rel="stylesheet" />
    <link href="/IRunes.Application/Views/CSS/MyStyles.css" rel="stylesheet" />
    <link href="/IRunes.Application/Views/CSS/FontAwesome/fontAwesome.css" rel="stylesheet" />
    <title>IRunes App</title>
</head>
<body>
    <div class="container-fluid">
        @BodyContent@
    </div>
    <script src="/IRunes.Application/Views/JS/JQuery/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/IRunes.Application/Views/JS/Popper/popper.min.js" type="text/javascript"></script>
    <script src="/IRunes.Application/Views/JS/Bootstrap/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>