<div class="col-sm-8 col-lg-6">
    <div style="padding-left:35px" class="jumbotron jumbotron-fluid">
        <h1>By The Cake:</h1>
        <h2>Enjoy our awesome cakes</h2>
        <h2>Order Id: @model.Order.OrderId</h2>
    </div>
    <hr>
    <table class="table table-striped">
        <tr>
            <th scope="col">ProductName</th>
            <th scope="col">Quantity</th>
            <th scope="col">Single Unit Price</th>
            <th scope="col">TotalPrice</th>
        </tr>
        @foreach (var product in model.Order.Products)
        {
        <tr><th class="longText"><a href="/Cakes/DisplayCake?id=@product.ProductId">@product.ProductName</a></th><th>@product.Quantity</th><th>@product.SinglePrice.ToString("F2") &#8364</th><th>@product.TotalPrice.ToString("F2") &#8364</th></tr>

        }
    </table>
    <br />
    <p>Total value of all orders: <strong>@model.Order.TotalCost (Euro)</strong></p>
    <br />
    <hr />
    <p><a class="btn btn-success btn-sm" href="/"><i class="fa fa-arrow-circle-left"></i> Back to Home</a></p>
</div>

