<div class="col-sm-8 col-lg-6">
    <div style="padding-left:35px" class="jumbotron jumbotron-fluid">
        <h1>By The Cake:</h1>
        <h2>Enjoy our awesome cakes</h2>
    </div>
    <h2>Orders of user:<strong><span class="text-info"> @model.Username</span></strong></h2>
    <hr>
    <table class="table table-dark">
        <tr>
            <th scope="col">OrderId </th>
            <th scope="col">Created On</th>
            <th scope="col">Sum</th>
        </tr>
        @foreach (var order in model.Orders)
        {
        <tr>
            <th><a href="/Orders/DisplayOrder?id=@order.OrderId">Order: @order.OrderId</a></th>
            <th>@order.CreatedOn.ToString("dd-MM-yyyy")</th>
            <th>@order.TotalCost.ToString("F2") (<strong>Euro</strong>)</th>
        </tr>
        }
    </table>
    <hr />
    <p><a class="btn btn-success btn-sm" href="/"><i class="fa fa-arrow-circle-left"></i> Back to Home</a></p>
</div>