<div class="col-sm-8 col-lg-6">
    <div style="padding-left:35px" class="jumbotron jumbotron-fluid">
        <h1>By The Cake:</h1>
        <h2>Enjoy our awesome cakes</h2>
    </div>
    <h2>Orders of user:<strong><span class="text-info"> @model.Username</span></strong></h2>
    <hr>
    @if(!model.Orders.Any())
    {
    <h3 class="text-info">There are no orders made !</h3>
    }
    @else
    {

    <table class="table table-light table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">OrderId </th>
                <th scope="col">Created On</th>
                <th scope="col">Sum</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        @for (int i = 0; i<model.Orders.ToArray().Length; i++)
          {
          {var order=model.Orders[i]; string status="Finished" ; bool isCart=false;}
          @if(i==model.Orders.ToArray().Length-1)
          {
          @if(!order.Products.Any()){ continue; }
          @else {status="<strong><span class=\" text-success\">In Progress... <a href=\"/Orders/DisplayOrder?id =" +order.OrderId+"&isCart=true\"></span></strong> <i style=\"font-size:28px\" class=\"fa fa-cart-arrow-down \"></i></a>";isCart=true;}
    }

    <tr>
        <th><a href="/Orders/DisplayOrder?id=@order.OrderId&isCart=@isCart">Order: @(i+1)</a></th>
        <th>@order.CreatedOn.ToString("dd-MM-yyyy")</th>
        <th>@order.TotalCost.ToString("F2") (<strong>Euro</strong>)</th>
        <th><p class="text-info"><em>@status</em></p></th>
    </tr>
    }
    }
</table>
    <hr />
    <p><a class="btn btn-success btn-sm" href="/"><i class="fa fa-arrow-circle-left"></i> Back to Home</a></p>
</div>