@userNav@
<div class="row">
    <div class="col-7">
        <img src="@imgURL@" alt="album cover" class="card-img" style="width:100%" />
        <h3>Album Name:@albumName@</h3>
        <h3>Price: @albumPrice@$</h3>
        <h3>Creator: <span style="color:darkmagenta">@creatorName@</span></h3>
        <div class="go-left"><a class="btn btn-success" href="/Albums/All"> &#x261C Back To All</a></div>
        <div class="go-right">@addTrackOrNot@</div>
    </div>
    <div>
        <h3> Tracks</h3>
        @tracksList@
    </div>
</div>

<div class="green-border-line"></div>
<footer class="text-center"> <p> <strong>CopyRight</strong> &#9400 <strong>Sanity Design Studios. All rights reserved.</strong></p></footer>