<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../CSS/Styles.css" type="text/css">
    <meta charset="utf-8" />
    <title>CakeStore</title>
</head>
<body>
    <h1>By The Cake</h1>
    <h2>Enjoy our awesome cakes</h2>
    <hr>
    <ul>
        <li>
            <a href="invalidURL1">Home</a>
            <ol>
                <li><a href="invalidURL2">Our Cakes</a></li>
                <li><a href="invalidURL3">Our Stores</a></li>
            </ol>
        </li>
        <li><a href="invalidURL4">My Profile</a></li>
        <li><a href="invalidURL5">Add Cake</a></li>
        <li><a href="invalidURL6">Browse Cakes</a></li>
        <li><a href="invalidURL7">My Orders</a></li>
        <li><a href="invalidURL8">About Us</a></li>
    </ul>
    <div>
        <form action="/Register">
            <input type="submit" value="Register" />
        </form>
        <br />
        <form action="/Login">
            <input type="submit" value="Log In" />
        </form>
    </div>

</body>
</html>