<div class="col-sm-8 col-lg-6">
    <div style="padding-left:35px" class="jumbotron jumbotron-fluid">
        <h1>By The Cake:</h1>
        <h2>Enjoy our awesome cakes</h2>
    </div>
    <hr />

    <h1 class="text-info">Order a @model.Cake.CakeName</h1>
    <h3><em>Price (<strong>Euro</strong>): @model.Cake.Price.ToString("F2")</em></h3>
    <hr />
    <br />
    <div class="container">
        <div class="row">

            <img src="@model.Cake.ImgUrl" alt="img of @model.Cake.CakeName cake" class="col-sm-8 col-lg-8" />

            <div class="col-sm-4 col-lg-4">
                {string ifAuthorised = model.USERNAME is null?"disabled":"";}
                {string placeholderValue = model.USERNAME is null?"LogIn To Buy !":"  1~10  ";}
                <form class="form" action="/Orders/MakeOrder" method="post">
                    Count: <input type="number" name="count" min="1" max="10" placeholder="@placeholderValue" class="form-control" required @ifAuthorised />
                    <input type="hidden" name="cakeId" value="@model.Cake.CakeId" />
                    <br />
                    <br />
                    <input class="btn btn-primary" type="submit" value="Add To Cart" @ifAuthorised />
                </form>
            </div>
        </div>
    </div>
    <hr />
    <p><a class="btn btn-success btn-sm" href="/"><i class="fa fa-arrow-circle-left"></i> Back to Home</a></p>
    <p><a class="btn btn-success btn-sm" href="/Cakes/Browse"><i class="fa fa-arrow-circle-left"></i> Back To Browse Cakes</a></p>
</div>
