<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--<link rel="stylesheet" href="../CSS/Styles.css" type="text/css">-->
    <meta charset="utf-8" />
    <title>CakeStore</title>

    <style>
        table, td, th {
            border: solid 2px;
        }

        td, th {
            text-align: center
        }

        table {
            width: 40%
        }
    </style>

</head>
<body>
    <h1>By The Cake</h1>
    <h2>Orders of user: @username@</h2>
    <hr>
    <table>
        <tr style="background:lightgray">
            <td>OrderId</td>
            <td>Created On</td>
            <td>Sum</td>
        </tr>
        @tableRows@
    </table>
    <hr />
    <p>Back to <a href="/">Home</a> Page</p>
</body>
</html>