<div class="col-sm-8 col-lg-6">
    <div style="padding-left:35px" class="jumbotron jumbotron-fluid">
        <h1>By The Cake:</h1>
        <h2>Enjoy our awesome cakes</h2>
        <h2>Order Id: @orderId@</h2>
    </div>
    <hr>
    <table class="table table-striped">
        <tr>
            <th scope="col">ProductName</th>
            <th scope="col">Quantity</th>
            <th scope="col">Single Unit Price</th>
            <th scope="col">TotalPrice</th>
        </tr>
        @ordersList@
    </table>
    <br />
    <p>Total Value Of order: <strong>@totalCost@ (Euro)</strong></p>
    <br />
    <hr />
    <p><a class="btn btn-success btn-sm" href="/"><i class="fa fa-arrow-circle-left"></i> Back to Home</a></p>
