@userNav@

<form action="/Tracks/CreateData" method="post">
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-1"></div>

        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="text-center">
                <h1 class="forest-green">Create Track</h1>
            </div>
            <div class="green-border-line"></div>
            <br />

            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" placeholder="Name..." required>
                <input type="hidden" name="albumId" value="@albumId@" />
            </div>

            <div class="col-4 go-left no-hor-pad">
                <div class="form-group">
                    <label>Link</label>
                    <input type="url" class="form-control" name="linkURL" placeholder="Link..." required>
                </div>
            </div>

            <div class="col-4 go-right no-hor-pad">
                <div class="form-group">
                    <label>Price</label>
                    <input type="number" class="form-control" name="price" placeholder="Price..." step="0.01" min="1" required>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-2 col-sm-1"></div>

        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="green-border-line"></div>

            <div class="row">
                <div class="col"><input type="radio" name="overwriteChoise" value="1"> Overwrite If Title Exists   </div>
                <div class="col"><input type="radio" name="overwriteChoise" value="2"> Use Existing If Title Exists</div>
                <div class="col"><input type="radio" name="overwriteChoise" value="3"> Make New If Title Exists    </div>
            </div>
            <div class="green-border-line"></div>

            <center>
                <div class="col-8">
                    <div class="go-left">
                        <input class="btn btn-success" type="submit" value="Create Track" />

                    </div>
                    <div class="go-right">
                        <a class="btn btn-success" href="/Albums/Details?albumId=@albumId@">Back To Album</a>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-1"></div>
    </div>
    <br />
</form>

<div class="green-border-line"></div>
<footer class="text-center"> <p> <strong>CopyRight</strong> &#9400 <strong>Sanity Design Studios. All rights reserved.</strong></p></footer>