@userNav@
<div class="row">

    <div class="col-lg-3 col-md-2 col-sm-1"></div>

    <div class="col-lg-6 col-md-8 col-sm-10">
        <center>
            <h3>Track Name: @trackName@</h3>
            <h3>Track price: $@trackPrice@</h3>

            <div class="green-border-line"></div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@trackURL@" allowfullscreen></iframe>
            </div>
            <div class="green-border-line"></div>
            <br />
            <a class="btn btn-success" href="/Albums/Details?albumId=@albumId@"> &#x261C Back To Album</a>
        </center>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-1"></div>

</div>
<br />
<div class="green-border-line"></div>
<footer class="text-center"> <p> <strong>CopyRight</strong> &#9400 <strong>Sanity Design Studios. All rights reserved.</strong></p></footer>
