<div class="col-sm-8 col-lg-6">
    <div style="padding-left:35px" class="jumbotron">
        <h1 style="font-size: 4rem">Cakes in store:</h1>
    </div>
    <hr>
    @if (model.Products.Any())
    {
    <table class="table table-striped">
        <thead class="thead-dark"><tr><th scope="col" style="width:30%">Provider</th><th scope="col" style="width:40%">CakeName</th><th scope="col" style="width:30%">Cake Price (<strong>Euro</strong>)</th></tr></thead>
        <tbody>
            @foreach (var product in model.Products)
            {
            <tr><td><i class="fa fa-birthday-cake"></i> @product.Manufacturer</td><td><a href="/Home/DisplayCake?id=@product.CakeId">@product.CakeName</a></td><td> @product.Price.ToString("F2")<strong> &#8364 </strong></td></tr>
            }
        </tbody>
    </table>
    }

    <hr />
    <p><a class="btn btn-success btn-sm" href="/"><i class="fa fa-arrow-circle-left"></i> Back to Home</a></p>
</div>