<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--<link rel="stylesheet" href="../CSS/Styles.css" type="text/css">-->
    <meta charset="utf-8" />
    <title>CakeStore</title>
</head>
<body>
    <h1>Log In:</h1>
    <hr>
    
    <form action="/Authentication/LogInData" method="post">

        User Name <input type="text" placeholder="UserName" name="username" minlength="6" maxlength="32" />
        <br /><br />
        Password <input type="password" placeholder="Password" name="password" minlength="6" maxlength="32" />
        <br /><br />
        <input type="submit" value="LogIn" />
    </form>
    <br />
    <form action="/Authentication/Register" method="get">
        Dont have an account? <input type="submit" value="RegisterNow" />
    </form>

</body>
</html>